@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&display=swap');

:root {
        --cream-nav-accent: #fee3c9;
        --blue-nav-accent: #1F2937;
        --orange-nav-accent: #b24225;
        --cream-accent: #fee3c9;
        --blue-accent: #1F2937;
        --orange-accent: #b24225;
    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
/* Sitewide Navigation */

header {
    display: flex;
    background-color: var(--orange-accent);
    position: fixed;
    width: 100%;

}

.top-nav {
    width: 100%;
    padding: 15px 10px 10px 10px;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.logo {
    max-width: 60px;
    height: auto;
    margin: 0;
    padding: 0;
}

.wordmark {
    max-width: 225px;
    height: auto;
    align-self: flex-end;
}

.nav-menu {
    /* this is only display flex, because of animation 
    from the right (otherwise it would be "none") */
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 25px;
   

    /* Use this for animation for the menu */
    position: fixed; /* makes it stay in place when scrolling */
    top: 95px;
    right: -250px; /* this makes the menu hidden off to the right of the screen */
    width: 250px;
    height: 100%;
    background-color: var(--cream-nav-accent);
    padding: 60px 20px 20px;

    /* This creates the slide in animation */
    transition: right 0.3s ease;
}

.nav-menu a {
    text-decoration: none;
    color: var(--blue-nav-accent);
    font-family: Roboto, sans-serif;
    font-size: 25px;

}

.nav-menu li {
    border-bottom: 2px solid var(--blue-nav-accent);

}

/* This is the bars for the hamburger menu */

.hamburger-btn span {
    
    display: block; /* makes the span bars */
    width: 30px;
    height: 4px;
    background: var(--cream-nav-accent); /* color of the bars */
    margin: 5px 0;
}
.hamburger-btn {
    /* Removes the button background color & border */
    background: none;
    border: none;
    padding-right: 10px;
}

.nav-menu.open {
    display: flex;

    /* makes it slide into view */
    right: 0; 
}

.nav-menu a.active {
    color: var(--orange-nav-accent);
}

.nav-menu li.active {
    border-bottom: 2px solid var(--orange-nav-accent);
}

/* THIS IS THE MENU BUTTON (X) ANIMATION CODE */

/* This roatates the top bar down for X */
.hamburger-btn.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

/* This will hide the middle bar */
.hamburger-btn.open span:nth-child(2) {
    opacity: 0;
}

/* This rotates the bottom bar up for X */
.hamburger-btn.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* This adds the transition to the spans so it animates */
.hamburger-btn span {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

section {
    background-color: var(--blue-accent);
    height: 1000px;
    font-size: 100px;
    padding-top: 100px;
}

main {
    padding-top: 100px;
    padding-bottom: 80px;
    background-color: var(--blue-accent);
    flex: 1;
    width: 100%;
}

/* CALCULATOR.HTML STYLE */









/* BOTTOM MOBILE NAVIGATION */
.mobile-nav{
    display: flex;
    background-color: var(--orange-nav-accent);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    padding: 0 0;
    
}

.mobile-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--cream-nav-accent);
    font-family: Roboto, sans-serif;
    font-size: 14px; 
}

/* Have to add "active" to each html page link. only can have 
active once on each page. */
.mobile-nav a.active {
    color: var(--blue-nav-accent);
    font-weight: 1000;
}

.mobile-nav img {
     width: 40px;
     height: 40px;
}
.nav-btn {
    border-right: 1.5px solid var(--blue-nav-accent);
    border-left: 1.5px solid var(--blue-nav-accent);
    flex: 1;
}



