@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Bubbles&display=swap');

:root {
        --cream-nav-accent: #fee3c9;
        --blue-nav-accent: #1F2937;
        --orange-nav-accent: #b24225;
        --cream-accent: #fee3c9;
        --blue-accent: #1F2937;
        --orange-accent: #b24225;
        --card-black: #2d2d2d;
        --input-black: #1e1e1e;
        --teal-accent: #006664;

    }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--blue-accent);
}

/* THIS APPLIES TO ALL "MAIN" ON ALL PAGES */


main {
    padding: 100px 25px 80px 25px;
    background-color: var(--blue-accent);
    flex: 1;
    width: 100%;

}

.main-view {
    max-width: 700px;
    margin: 0 auto;
}
/* THIS APPLIES TO ALL "TITLES" ON ALL PAGES */
.main-title h2 {
    font-size: 30px;
}

.main-title p {
    font-size: 15px;
    padding-left: 2px;
}


.main-title {
    display: flex;
    flex-direction: column;
    color: var(--cream-accent);
    font-family: Roboto, sans-serif;
    padding: 15px 0 5px 5px;
}

.section-title {
    display: flex;
    flex-direction: column;
    color: var(--cream-accent);
    font-family: Roboto, sans-serif;
    padding: 15px 0 5px 5px;
    font-size: 20px;
}


/* GLOBAL /SITEWIDE */

.card {
    background-color: var(--card-black);
    border: 1px solid var(--input-black);
    padding: 20px;
    margin-bottom: 20px;
}


/* Sitewide Navigation */

header {
    display: flex;
    background-color: var(--orange-accent);
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #92361f;
    box-shadow: 0 0 8px rgba(0, 0, 0.1);


/* adding this because I could see my input arrows though the menu */
    z-index: 100;

}

.top-nav {
    width: 100%;
    padding: 15px 10px 10px 10px;
}
.nav-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.logo {
    max-width: 60px;
    height: auto;
    margin: 0;
    padding: 0;
}

.wordmark {
    max-width: 225px;
    height: auto;
    align-self: flex-end;
}

.nav-menu {
    /* this is only display flex, because of animation 
    from the right (otherwise it would be "none") */
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 25px;
   

    /* Use this for animation for the menu */
    position: fixed; /* makes it stay in place when scrolling */
    top: 95px;
    right: -250px; /* this makes the menu hidden off to the right of the screen */
    width: 250px;
    height: 100%;
    background-color: var(--cream-nav-accent);
    padding: 60px 20px 20px;

    /* This creates the slide in animation */
    transition: right 0.3s ease;

    /* adding this because I could see my input arrows though the menu */
    z-index: 100;
}

.nav-menu a {
    text-decoration: none;
    color: var(--blue-nav-accent);
    font-family: Roboto, sans-serif;
    font-size: 25px;

}

.nav-menu li {
    border-bottom: 2px solid var(--blue-nav-accent);

}

/* This is the bars for the hamburger menu */

.hamburger-btn span {
    
    display: block; /* makes the span bars */
    width: 30px;
    height: 4px;
    background: var(--cream-nav-accent); /* color of the bars */
    margin: 5px 0;
}
.hamburger-btn {
    /* Removes the button background color & border */
    background: none;
    border: none;
    padding-right: 10px;
}

.nav-menu.open {
    display: flex;

    /* makes it slide into view */
    right: 0; 
}

.nav-menu a.active {
    color: var(--orange-nav-accent);
}

.nav-menu li.active {
    border-bottom: 2px solid var(--orange-nav-accent);
}

/* THIS IS THE MENU BUTTON (X) ANIMATION CODE */

/* This roatates the top bar down for X */
.hamburger-btn.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

/* This will hide the middle bar */
.hamburger-btn.open span:nth-child(2) {
    opacity: 0;
}

/* This rotates the bottom bar up for X */
.hamburger-btn.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* This adds the transition to the spans so it animates */
.hamburger-btn span {
    transition: transform 0.3s ease, opacity 0.3s ease;
}






/* START: SECTION HERO */

section .hero {
    
    background-color: #1F2937;
    color: #F9FaF8;
    padding: 0 100px;
}
.hero-text h1 {
    font-size: 55px;
    font-weight: 900;
    padding-bottom: 10px;
    font-family: Roboto, sans-serif;
    color: var(--cream-accent);
    text-align: center;
}


.hero-image > p {
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
    font-family: Roboto, sans-serif;

}

.hero-image > button {
    background-color: var(--orange-accent);
    border: none;
    border-radius: 5px;
    margin-top: 8px;
    padding: 3px 15px;
    font-family: Roboto, sans-serif;
    color: white;
    width: 125px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 5px;
    
}

.hero-image {
    text-align: center;
}

.hero-image img {
    width: 100%;
    max-width: 500px ;
    height: auto;
    justify-self: center;

}

/* END: SECTION HERO */


/* START: MAIN CONTENT AREA  */


/* INFO SECTION  */

main .info {
    background-color: whitesmoke;
}


.info-title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 30px;
    background-color: whitesmoke;
    font-family: Roboto, sans-serif;
}

.links-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


.links {
    font-size: 12px;
    text-align: center;

    
}

.links img {
    width: 100%;
    display: block;
}


/* The next two styles are for the text overlay on the link images */

.links a {
    position: relative;
    display: block;
    overflow: hidden;
}


.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* QUOTE SECTION */

.quote {
    display: flex;
    flex-direction: column;
    background-color: var(--cream-accent);   
    padding: 25px 50px;
    gap: 20px;
}

.quote-text {
    font-size: 20px;
    font-weight: 400;
    color: #1F2937;
    font-family: Roboto, sans-serif;
}

.author {
    align-self: flex-end;
    padding-right: 10px;
}

/* AD SECTION */

.ad-section {
    
    display: flex;
    padding: 20px;
    justify-content: center;
    background-color: whitesmoke;


}

.ad {
    display: flex;
    background-color: var(--teal-accent);
    border-radius: 8px;
    padding: 30px 60px;
    gap: 50px;
    align-items: center;
    min-width: 300px;
    flex-wrap: wrap;
}

.ad-button button {
    display: flex;
    background-color: var(--orange-accent);
    border: 1.5px solid white;
    border-radius: 5px;
    padding: 7px 15px;
    font-family: Roboto, sans-serif;
    color: white;
    white-space: nowrap;
    
} 


.ad-text {
    min-width: 250px;
}

.ad-text h3 {
    font-size: 30px;
    min-width: 200px;
}



                    /* START CALCULATOR.HTML STYLE */
                    

.form-card {
    display: flex;
    flex-direction: column;
    background-color: var(--card-black);
    border-radius: 15px;
    color: whitesmoke;
    font-family: Roboto, sans-serif;
    font-weight: 200;
    border: 1px solid var(--input-black);
    padding: 20px;
    gap: 15px;
}

.form-group > label {
    margin-bottom: 5px;
    padding-left: 5px;
}

.radio-group {
    display: flex;
    gap: 25px;
}

.radio-option {
    display: flex;
    align-items: center;
    gap: 5px;
}

form input, form select {
    background-color: var(--input-black);
    height: 30px;
    border: 1px solid black;
    color: whitesmoke; 
    font-family: Roboto, sans-serif;
    border-radius: 5px;
    padding: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;

}

input::placeholder {
    color: rgb(56, 56, 56);
    
}


.height-input {
    display: flex;
    gap: 10px;
}

.height-input input#feet {
    flex: 1;
}

.height-input input#inches {
    width: 75px;
}

.calculate {
    max-width: 200px;
    height: 100%;
    background-color: #b24225;
    border: none;
    border-radius: 8px;
    align-self: center;
    padding: 5px;
    font-family: Roboto, sans-serif;
    color: var(--cream-accent);
    font-weight: bold;
    font-size: 12px;
}

.exercise-info ul {
    list-style-type: none;
    padding-left: 5px;
    padding-top: 5px;
    color: var(--cream-accent);
    font-size: 15px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

/* END CALCULATOR.HTML STYLE */





/* START FOOD-LOG.HTML STYLE */


/* I used this to create the ring portion of the progress ring */
.progress-ring {
    width: 55vw;
    max-width: 220px;
    transform: rotate(90deg);
}

.ring-track {
    fill: none;
    stroke: var(--input-black);
    stroke-width: 10;
}

.ring-progress {
    fill: none;
    stroke: #4caf50;
    stroke-width: 10;
    stroke-linecap: round;
    stroke-dasharray: 251;
    stroke-dashoffset: 60;
}


/* I used this portion to create the center of the ring */
.ring-container {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative;

}

.ring-center {

    /* top/left 50% take the "start" to the center of the parent and
    transform: translate(-50%, -50%) takes the start back 50% so its lands
    in the middle or centers everything perfectly. */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* ^ */

    display: flex;
    flex-direction: column;
    align-items: center;
    color: whitesmoke;
    font-family: Roboto, sans-serif;
}

.calories-consumed {
    font-size: 32px;
    font-weight: bold;
    color: #4caf50;
}

.calories-left {
    font-size: 20px;
    font-weight: 600;
    color: #b24225;
}

.ring-label {
    padding: 5px 0;
}

/* CALORIE BUDGET CARD STYLE */

.budget-card {
    border-radius: 10px;
    font-family: Roboto, sans-serif;
}

.budget-card p {
    display: flex;
    justify-content: center;
}

.budget-label {
    font-size: 18px;
    font-weight: 600;
    color: whitesmoke;
}

.budget-total {
    font-weight: 500;
    color: #b24225;
    padding-top: 5px;
}


.ring-meal {
    display: flex;
    padding-top: 10px;
    justify-content: space-evenly;

}


.meal-breakdown {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.meal-breakdown span {
    color: whitesmoke
    
}

.meal-breakdown .meal-cal {
    font-weight: 500;
    color:#4caf50
}


.meal-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.macros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.macro-label {
    color: whitesmoke;
}

.macro-value {
    color: #b24225;
    font-size: 12px;
}

.macro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    padding: 10px 10px 0 10px;
}


.macro-bar-track {
    width: 100%;
    height: 15px;
    background-color: whitesmoke;
}

.macro-bar {
    width: 50%;
    height: 15px;
    background-color: #4caf50;

}


/* START FOOD SEARCH CARD */
.food-search {
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.food-search label {
    color: whitesmoke;
    padding-bottom: 8px;
}

.food-search input {
    background-color: var(--input-black);
    border: 1px solid black ;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    padding: 5px;
}


.meal-section {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    font-family: Roboto, sans-serif;
    gap: 10px;

}

.meal-header {
    display: flex;
    justify-content: space-between;
    padding-left: 2px;
}
.meal-header h3 {
    color: #4caf50;
}
.meal-header span {
    color: #b24225;
}

/* FOOD SECTION STYLE */

.meal-items {
    display: flex;
    flex-direction: column ;
    background-color: var(--input-black);
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: auto;
}

.food-item {
    color: whitesmoke;
    padding: 5px;

}

.item-nutrients ul {
    display: flex;
    list-style-position: inside;
    gap: 10px;
    padding: 5px;
    color: whitesmoke;
    font-weight: 200;
    font-size: 14px;
}

.no-bullet {
    list-style-type: none;
}


/* END FOOD-LOG.HTML STYLE */


/* START ACTIVITY-LOG.HTML STYLE */



/* activity buttons */
.activity-actions {
    padding: 20px 0;
    display: flex;
    gap: 15px;
    
}

.activity-actions button {
    display: flex;
    background-color: var(--orange-accent);
    border: none;
    border-radius: 8px;
    height: 45px;
    color: var(--cream-accent);
    padding: 15px 20px;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

/* My routines section */


.routines {
    font-family: Roboto, sans-serif;
}

.routine-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.routines h2 {
    font-size: 25px;
    color: var(--cream-accent);
    padding-bottom: 15px;
    padding-left: 5px;
}

.workouts {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    background-color: var(--card-black);
    border: 1px solid var(--input-black);
    padding-left: 15px;
    padding-right: 15px;
    gap: 20px;
}

.workout-type {
    display: flex;
    justify-content: space-between;
    color: whitesmoke;
}

.workout-title {
    font-size: 14px;
    font-weight: 400;
    padding-top: 15px;
}

.workout-type p {
    font-size: 20px;
    padding-top: 5px;
}

.start-button {
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
}

.start-routine {
    background-color: var(--orange-accent);
    width: 30%;
    height: auto;
    border: none;
    border-radius: 100px;
    color: var(--cream-accent);
    font-size: 12px;
    font-weight: bold;
    text-wrap: nowrap;
    padding: 5px 10px;
    
}

/* Activity summary */

.todays-activity {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    padding: 20px 0;
    gap: 10px;
}


.activity-card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    padding: 15px;
    background-color: var(--card-black);
    border: 1px solid var(--input-black);
}

.activity-header {
    display: flex;
    padding-bottom: 5px;
    font-weight: bold;
    justify-content: space-between;

}

.activity-name { 
    color: whitesmoke;
}

.activity-status {
    color: #4caf50;
    
}

.exercise-table th {
    
    text-decoration: underline;
    color: var(--orange-accent);
    padding-bottom: 5px;
    padding-top: 5px;
}

.exercise-table td {
    color: whitesmoke;
    font-weight: 300;
    font-size: 13px;
    text-align: center;
}

.exercise-table .first-column {
    text-align: left;
}


                /* quick exercise guide table section */

.common-exercises h2 {
    font-size: 25px;
    color: var(--cream-accent);
    padding-bottom: 5px;
    padding-left: 3px;
    font-family: Roboto, sans-serif;
}

.common-exercises p {
    color: var(--cream-accent);
    padding-bottom: px;
    padding-left: 3px;
    font-family: Roboto, sans-serif;
    text-align: left;
    font-size: 15px;
}
.quick-guide {
    background-color: whitesmoke;
    width: 100%;
    border-spacing: 2px;
    border-collapse: collapse;
    border: 3px solid var(--card-black);

}
.quick-guide th {
    background-color: var(--orange-accent);
    color: var(--cream-accent);
    text-align: left;
    padding: 4px;
}

.quick-guide td {
    padding: 2px 2px 2px 4px;
}

.quick-guide tr:nth-child(even) {
    background-color: white;
}

.quick-guide td, .quick-guide th {
    border: 1px solid rgb(186, 186, 186);
}






                    /* END ACTIVITY-LOG.HTML STYLE */


                    /* START RECIPES.HTML STYLE */

.gallery-item {
    overflow: hidden;
    position: relative;

}

.gallery-item a {
    display: block;
}

.gallery-item img {
    width: 100%;
    height: 100%;

    /* This was the key - it makes the image fill the container without stretching */
    object-fit: cover;
    display: block;
}

.gallery-item h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
}

.gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5px;
}

/* END RECIPES.HTML */

/* THIS CONTROLS ALL INDIVIDUAL RECIPE PAGES */

.recipe-page {
    background-color: var(--cream-accent);  
}

.recipe-page img {
    max-width: 100%;
    height: auto;
}
.recipe-page h1 {
    color: var(--blue-accent);
    font-size: 35px;
    font-family: Roboto, sans-serif;
}

.recipe-page h2 {
    font-size: 30px ;
    color: var(--orange-accent);
    padding-top: 15px;
    font-family: Roboto, sans-serif;
}

.recipe-page h3 {
    padding-bottom:  5px;
}
.recipe-page ul {
    list-style-type:circle;
    padding-left: 30px;
    padding-bottom: 15px;
}

.recipe-page a {
    color: #006664;
}

.recipe-page p {
    padding-bottom: 15px;
}

.recipe-page .instruction-steps {
    padding-bottom: 5px;
    padding-left: 15px ;
}

.instructions {
    padding-bottom: 10px;
}



/* BOTTOM MOBILE NAVIGATION */
.mobile-nav{
    display: flex;
    background-color: var(--orange-nav-accent);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    padding: 0 0;
    border-top: 1px solid #92361f;
    box-shadow: 0 0 8px rgba(0, 0, 0.1);
    
}

.mobile-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--cream-nav-accent);
    font-family: Roboto, sans-serif;
    font-size: 14px; 
}


/* Have to add "active" to each html page link. only can have 
active once on each page. */
.mobile-nav a.active {
    color: var(--blue-nav-accent);
    font-weight: 1000;
}

.mobile-nav img {
     width: 40px;
     height: 40px;
}
.nav-btn {
    border-right: 1.5px solid var(--blue-nav-accent);
    border-left: 1.5px solid var(--blue-nav-accent);
    flex: 1;
}

.main-footer {
    height: 75px;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    font-family: 'Rubik Bubbles';
    background-color: var(--orange-accent);
    color: var(--cream-accent);
    font-size: 20px;
}



/* TABLET VIEW */
@media(min-width: 768px) {

/* INDEX SECTION */

/* hero */



/* info */
.links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}



    /* RECIPE SECTION */
.gallery-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px 200px;
    gap: 5px;

}

.gallery-item {
    align-content: center;
}

}



/* DESKTOP VIEW */
@media(min-width: 1024px) {

/* INDEX SECTION */


/* info */
.links-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}

/* START: SECTION HERO */

.hero-text h1 {
    font-size: 75px;
}


.hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
    gap: 50px;
    
}

.hero-text, .hero-image {
    flex: 1;
}

.hero-image {
    justify-content: center;
}


    
/* RECIPES SECITON */
.gallery-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    
}


/* MOBILE NAV */
footer .mobile-nav {
    display: none;
}

/* Main footer, not mobile nav */

.main-footer {
    display: flex;
}


}




